.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
    .container{
    height: 300px;
    min-width: 500px;
    border: solid 3px #ccc;
    position: relative;
    margin: 15px;
  }
}

.figure {
  position: absolute;
  border: 1px solid #050;
  height: 50px;
  width: 50px;
}

.triangle{
  border: 30px solid transparent;
  border-bottom: 30px solid #004400;
  display: block;
  width: 0;
  height: 0;
}